.preview-images {
 margin-left: 1rem;
 text-align: center;
 padding-bottom: .5rem;
}

.preview-images .thumbnail {
 width: 6rem;
 height: 6rem;
 padding-left: 1.5rem;
 display: inline-block;
 border: none;
 background-size: cover;
 position: relative;
 filter: grayscale(50%);
 transition: 1s;
}

.preview-images .thumbnail:hover {
 filter: grayscale(0);
 transform: scale(1.1)
}

.preview-images .thumbnail .close-button-db {
 text-align: center;
 vertical-align: middle;
 position: absolute;
 top: 5px;
 right: 5px;
 cursor: pointer;
 transition: .8s;
}

.preview-images .thumbnail .close-button-db a {
 width: 20px;
 height: 20px;
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 text-align: center;
 vertical-align: middle;
 position: absolute;
 top: 2px;
 right: 2px;
 border-radius: 10rem;
 cursor: pointer;
 transition: .8s;
 
}

.preview-images .thumbnail .close-button-db a + a {
 width: 20px;
 height: 20px;
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 text-align: center;
 vertical-align: middle;
 position: absolute;
 top: 25px;
 right: 2px;
 border-radius: 10rem;
 cursor: pointer;
 transition: .8s;
}

.preview-images .thumbnail .close-button-db a:hover {
 background-color: rgba(0, 0, 0, 0.7);
 color: rgb(0, 195, 255);
 transition: 1s;
}

.preview-images .thumbnail .close-button-db a+a:hover {
 background-color: rgba(0, 0, 0, 0.7);
 color: rgb(1, 156, 92);
 transition: .8s;
}

