.bg-login-image,
.bg-register-image,
.bg-password-image,
.bg-admin-image {
 background: linear-gradient(90deg, rgba(11, 150, 206, 0.8), rgba(255, 255, 255, 0.8)) !important;
 background-position: center;
 background-repeat: no-repeat;
}

.bg-register-image {
 background: linear-gradient(90deg, rgba(24, 221, 83, 0.8), rgba(255, 255, 255, 0.8)) !important;
}

.bg-password-image {
 background: linear-gradient(90deg, rgba(238, 31, 24, 0.87), rgba(255, 255, 255, 0.8)) !important;
}

.bg-admin-image {
 background: linear-gradient(90deg, rgba(0, 98, 255, 0.87), rgba(255, 255, 255, 0.8)) !important;
}

#sidebar-brand-header {
 background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.157)) !important;
}


/* Padding-y no permite la visibilidad del texto e impide introducir valores al input[type=number]*/
form.user .form-control-user {
 font-size: 0.8rem;
 border-radius: 10rem;
 padding: 1rem 1rem;
 height: 2.5rem !important;
}

form.user .btn-user {
 font-size: .8rem;
 border-radius: 10rem;
 padding: .5rem 1rem;
}

input[type=number],
input[type=text],
input[type=email],
input[type=search],
input[type=date] {
 border: 1px solid #d1d3e2;
 background-color: #ffffff;
 font-size: 0.8rem;
 border-radius: 10rem;
 padding-right: 1rem;
 padding-left: 1rem;
 height: 2.5rem;
}


input[type=number]::placeholder,
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=search]::placeholder,
input[type=date]::placeholder,
input[type=password]::placeholder {
 color: rgba(0, 0, 0, 0.5);
}

input[type=number]:disabled,
input[type=text]:disabled,
input[type=email]:disabled,
input[type=search]:disabled,
input[type=date]:disabled,
input[type=password]:disabled {
 background-color: rgba(240, 240, 240, 0.5);
 color: rgba(0, 0, 0, .8);
}

.informacion {
 border: 1px solid #d1d3e2;
 background-color: #ffffff;
 font-size: 0.8rem;
 border-radius: 10rem;
 padding: .5rem 1rem !important;
 height: 2rem !important;
 width: 100%;
}

#show,
#show2 {
 align-self: center;
 background: transparent;
 border-radius: 0 10rem 10rem 0;
 border: 1px solid #d1d3e2;
 color: rgb(92, 92, 92);
 cursor: pointer;
 padding: .44rem 1rem;
 transition: 1s;
}

#show:hover,
#show2:hover {
 color: rgba(1, 48, 177, 0.8);
 background-color: #d1d3e2;
 transition: 1s;
}

select {
 border: 1px solid #d1d3e2;
 background-color: transparent;
 font-size: 0.8rem !important;
 border-radius: 10rem !important;
 padding-right: 1rem !important;
 padding-left: 1rem !important;
 height: 2.5rem !important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
 background-position: center right calc(0.375em + 1rem);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
 background-position: center right calc(0.375em + 0.8rem);
}

.preload {
 padding-top: 20px;
 text-align: center;
 display: none;
}

.activate-preload {
 display: block;
}

/* =========Formulario STEPS========== */

  /* Hide all steps by default: */
  .tab {
   display: none;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbbbbb;
   border: none;
   border-radius: 50%;
   display: inline-block;
   opacity: 0.5;
  }

  /* Mark the active step: */
  .step.active {
   opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
   background-color: #4CAF50;
  }

/* =========/.Formulario STEPS========== */