.odd{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.even{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.odd a i {
    color:rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
}

.even a i {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.3rem;
}

.odd a i:hover {
    color: rgb(121, 121, 121);
    transform: scale(1.2);
    transition: 1s;
}

.even a i:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    transition: 1s;
}

.page-link{
    color: rgba(88, 88, 88, 0.808);
}

.page-link:hover {
    color: rgba(255, 255, 255, 0.808);
    background-color: rgba(2, 2, 2, 0.808);
}

.page-link:active {
    color: rgba(88, 88, 88, 0.808);
    background-color: rgba(0, 0, 0, 0.6);
}

.pagination .page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(219, 219, 219);
}

.pagination .page-item.active .page-link:hover {
    background-color: rgba(0, 0, 0, 1);
}

thead {
    background: linear-gradient(rgba(88, 88, 88, 0), rgba(255, 255, 255, 0), rgba(88, 88, 88, 0.555)) !important;
    color: rgba(85, 85, 85, 0.76);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.856); 
}

table {
    font-size: .85em;
}

.table th,
.table td {
    padding: 0.5rem;
}

@media (max-width: 970px) {
    #page-contenido {
        overflow-x: scroll;
    }

    /*#wrapper.toggled #page-content-wrapper {}*/

}