.odd {
    background-color: rgb(255, 255, 255) !important;
    color: #000000;
}

.even {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.pagination .page-item.active .page-link:hover {
    background-color: rgba(0, 0, 0, 1) !important;
}

.pagination .page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.page-link {
    color: rgba(1, 31, 39, 0.808) !important;
}


/* start ugly Checkbox 

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #03c53de1 !important;
    background-color: #03c53de1;
    box-shadow: none !important;
    box-shadow: #000000 !important;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: .5rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: rgba(235, 0, 0, 0.897);
    border: #740000c0 solid 1px !important;
    box-shadow: none !important;
    box-shadow: #000000 !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

 end ugly Checkbox */

@media (max-width: 970px) {
    #page-contenido {
        overflow-x: scroll !important;
    }

    /*#wrapper.toggled #page-content-wrapper {}*/

}