td.details-control {
    text-align:center;
    color:#18BC9C !important;
cursor: pointer;
}
tr.shown td.details-control {
text-align:center; 
color:#E74C3C !important;
}

thead {
    border: 0;
    color:rgba(52, 152, 219,.9);
}

.table th {
    border: 0;
}

.page-link {
    color: rgba(88, 88, 88, 0.808);
}

.page-link:hover {
    color: rgba(255, 255, 255, 0.808);
    background-color: rgba(2, 2, 2, 0.808);
}

.odd {
    border: 0;
    background-color: rgb(52, 152, 219) !important;
    color: #ffffff;
}

.even {
    background-color: rgb(255, 255, 255);
    color: #383838;
}

.odd a i {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.odd a i:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: scale(1.2);
    transition: 1s;
}

.even a i {
    border: 0;
    color: rgb(52, 152, 219,.9);
    font-size: 1.2rem;
}

.even a i:hover {
    border: 0;
    color: rgba(52, 152, 219, 0.7);
    transform: scale(1.2);
    transition: 1s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #333 !important;
    background: white !important;
    background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: rgb(255, 255, 255) !important;
    border: 1px solid #ffffff !important;
    border: 0;
    background: rgb(52, 152, 219,.9) !important;
    border: 0;
    background-color: rgb(52, 152, 219,.9) !important;
}